apiVersion: v1
kind: ConfigMap
metadata:
  name: user-workload-monitoring-config
  namespace: openshift-user-workload-monitoring
data:
  config.yaml: |
    prometheus:
      retention: 1d
    thanosRuler:
      resources:
        limits:
          cpu: 200m
          memory: 200Mi